<ul>
    <li><a href="#bulk-position" title="Bulk Position" class="icon neutral">Bulk-Position</a></li>
    <li><a href="#wealth-structure" class="icon down">Vermögensstruktur</a></li>
    <li><a class="icon up">…nach Sub-Anlageklassen</a></li>
    <li><a href="#currencies" class="icon neutral">…nach Währungen</a></li>
    <li><a href="#riskrating" class="icon neutral">Risikobeurteilung</a></li>
    <li><a href="#rating" class="icon up">Rating</a></li>
    <li><a href="#emitconcentration" class="icon up">Emittentenkonzentration</a></li>
    <li><a href="#delivery" class="icon up">Baldige Fälligkeit</a></li>
    <li><a href="#instrumentfail" class="icon up">Instrument nicht zulässig</a></li>
    <li><a href="#requireddoc" class="icon up">Obligatorisches Dokument</a></li>
</ul>
<div class="tooltip" id="bulk-position">
    Health Check: Bulk-Position
</div>
<div class="tooltip" id="wealth-structure">
    Health Check: Vermögensstruktur
</div>