<h2 class="h2">Loading…</h2>
<ul class="messages">
    <li>Portfolio Data (1 von 10)</li>
    <li>Portfolio Data (2 von 10)</li>
    <li>Portfolio Data (3 von 10)</li>
    <li>Portfolio Data (4 von 10)</li>
    <li>Portfolio Data (5 von 10)</li>
    <li>Portfolio Data (6 von 10)</li>
    <li>Portfolio Data (7 von 10)</li>
    <li>Portfolio Data (8 von 10)</li>
    <li>Portfolio Data (9 von 10)</li>
    <li>Portfolio Data (10 von 10)</li>
</ul>