<img src="{{ asset('bundles/terrificmoduleintro/img/einstein.png') }}" width="220" />
<div class="bubble"><span>Welcome to the</span><br /><span class="emphasize">Terrific Composer</span><span class="arrow"></span></div>