.pygment { background: #000; color: #93A1A1; overflow: auto; font-size: 1em; font-family: monospace; }

.pygment .hll { background-color: #ffffcc }
.pygment .c { color: #586E75 } /* Comment */
.pygment .err { color: #93A1A1 } /* Error */
.pygment .g { color: #93A1A1 } /* Generic */
.pygment .k { color: #859900 } /* Keyword */
.pygment .l { color: #93A1A1 } /* Literal */
.pygment .n { color: #93A1A1 } /* Name */
.pygment .o { color: #859900 } /* Operator */
.pygment .x { color: #CB4B16 } /* Other */
.pygment .p { color: #93A1A1 } /* Punctuation */
.pygment .cm { color: #586E75 } /* Comment.Multiline */
.pygment .cp { color: #859900 } /* Comment.Preproc */
.pygment .c1 { color: #586E75 } /* Comment.Single */
.pygment .cs { color: #859900 } /* Comment.Special */
.pygment .gd { color: #2AA198 } /* Generic.Deleted */
.pygment .ge { color: #93A1A1; font-style: italic } /* Generic.Emph */
.pygment .gr { color: #DC322F } /* Generic.Error */
.pygment .gh { color: #CB4B16 } /* Generic.Heading */
.pygment .gi { color: #859900 } /* Generic.Inserted */
.pygment .go { color: #93A1A1 } /* Generic.Output */
.pygment .gp { color: #93A1A1 } /* Generic.Prompt */
.pygment .gs { color: #93A1A1; font-weight: bold } /* Generic.Strong */
.pygment .gu { color: #CB4B16 } /* Generic.Subheading */
.pygment .gt { color: #93A1A1 } /* Generic.Traceback */
.pygment .kc { color: #CB4B16 } /* Keyword.Constant */
.pygment .kd { color: #268BD2 } /* Keyword.Declaration */
.pygment .kn { color: #859900 } /* Keyword.Namespace */
.pygment .kp { color: #859900 } /* Keyword.Pseudo */
.pygment .kr { color: #268BD2 } /* Keyword.Reserved */
.pygment .kt { color: #DC322F } /* Keyword.Type */
.pygment .ld { color: #93A1A1 } /* Literal.Date */
.pygment .m { color: #2AA198 } /* Literal.Number */
.pygment .s { color: #2AA198 } /* Literal.String */
.pygment .na { color: #93A1A1 } /* Name.Attribute */
.pygment .nb { color: #B58900 } /* Name.Builtin */
.pygment .nc { color: #268BD2 } /* Name.Class */
.pygment .no { color: #CB4B16 } /* Name.Constant */
.pygment .nd { color: #268BD2 } /* Name.Decorator */
.pygment .ni { color: #CB4B16 } /* Name.Entity */
.pygment .ne { color: #CB4B16 } /* Name.Exception */
.pygment .nf { color: #268BD2 } /* Name.Function */
.pygment .nl { color: #93A1A1 } /* Name.Label */
.pygment .nn { color: #93A1A1 } /* Name.Namespace */
.pygment .nx { color: #93A1A1 } /* Name.Other */
.pygment .py { color: #93A1A1 } /* Name.Property */
.pygment .nt { color: #268BD2 } /* Name.Tag */
.pygment .nv { color: #268BD2 } /* Name.Variable */
.pygment .ow { color: #859900 } /* Operator.Word */
.pygment .w { color: #93A1A1 } /* Text.Whitespace */
.pygment .mf { color: #2AA198 } /* Literal.Number.Float */
.pygment .mh { color: #2AA198 } /* Literal.Number.Hex */
.pygment .mi { color: #2AA198 } /* Literal.Number.Integer */
.pygment .mo { color: #2AA198 } /* Literal.Number.Oct */
.pygment .sb { color: #586E75 } /* Literal.String.Backtick */
.pygment .sc { color: #2AA198 } /* Literal.String.Char */
.pygment .sd { color: #93A1A1 } /* Literal.String.Doc */
.pygment .s2 { color: #2AA198 } /* Literal.String.Double */
.pygment .se { color: #CB4B16 } /* Literal.String.Escape */
.pygment .sh { color: #93A1A1 } /* Literal.String.Heredoc */
.pygment .si { color: #2AA198 } /* Literal.String.Interpol */
.pygment .sx { color: #2AA198 } /* Literal.String.Other */
.pygment .sr { color: #DC322F } /* Literal.String.Regex */
.pygment .s1 { color: #2AA198 } /* Literal.String.Single */
.pygment .ss { color: #2AA198 } /* Literal.String.Symbol */
.pygment .bp { color: #268BD2 } /* Name.Builtin.Pseudo */
.pygment .vc { color: #268BD2 } /* Name.Variable.Class */
.pygment .vg { color: #268BD2 } /* Name.Variable.Global */
.pygment .vi { color: #268BD2 } /* Name.Variable.Instance */
.pygment .il { color: #2AA198 } /* Literal.Number.Integer.Long */
