<div class="cube"><span class="t">T</span><span class="slash">/</span><span class="c">C</span></div>


<a href="{{ path('home') }}" title=""><img src="{{ asset('bundles/terrificmodulelogo/images/terrific_logo.png') }}" width="170"></a>
<span class="slogan">Modularize your code, scale down your problems</span>
