<ul>
    <li class="unit lastUnit separated">
        <a href="#createproposal" class="openModal">Anlagevorschlag erstellen…</a>
        <div class="overlay">
            {{ tc.module('Form', 'settings', null, null, { 'id' : 'createproposal' })}}
        </div>
    </li>
</ul>