<ul>
    <li class="unit">
        <a href="#" class="dropdown">Risiko: Gesamtvermögen</a>
        <ul class="overlay overlayTools">
            <li><img src="/bundles/terrificmoduletitlebar/images/asp/tools/taa_overview.png" /><span>TAA (Anlageklassen - Übersicht)</span></li>
            <li><img src="/bundles/terrificmoduletitlebar/images/asp/tools/risk.png" /><span>Risikobeurteilung</span></li>
            <li class="active"><img src="/bundles/terrificmoduletitlebar/images/asp/tools/taa_details.png" /><span>TAA (Anlageklassen - Details)</span></li>
            <li><img src="/bundles/terrificmoduletitlebar/images/asp/tools/dummy1.png" /><span>Lorem Ipsum</span></li>
            <li><img src="/bundles/terrificmoduletitlebar/images/asp/tools/dummy1.png" /><span>Dolor sit amet</span></li>
            <li><img src="/bundles/terrificmoduletitlebar/images/asp/tools/placeholder.png" /><span>Donec vitea</span></li>
        </ul>
    </li>
    <li class="unit lastUnit">
        <a href="#shares" class="dropdown">Aktien</a>
    </li>
</ul>