<ul>
    <li class="twitter">
        <a href="http://www.terrifically.org/core/" class="twitter-share-button" data-text="TerrificJS – Modularize your jQuery code by solely relying on the OOCSS naming conventions." data-via="brunschgi" data-count="horizontal" data-hashtags="terrific">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </li>
    <li class="facebook">
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/de_DE/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <div class="fb-like" data-href="http://www.terrifically.org/core/" data-send="false" data-layout="button_count" data-width="82" data-show-faces="false" data-font="lucida grande"></div>
    </li>
</ul>
