<pre data-name="Batman">
                                 :.     .:
                             : ##D      ,##G
                           .##              .#,:
                         .jW                   #
                        :#                      .E
                       :#                         #
                       #                           G
                                                   f
                      #                             #
                     :K                             K:
                      .

                     :L
                      #                             .
                      :                             #.
                      ,#                            t
                        #                          #,
                         #                        #
                          #                      #
                          :WL                   #:
                            ,                G#
                           :#    ##;     j##,
                           f   #.,:.      ,
                           D #:,
                         :## ,
                         G
                     t
                     GWW
                     GDWL
                     LWWK
                     iWWG
                     KK:G
                    W##E
                 jLfG#W#W
                fijLtjjijt
                ;ffLfjEKtjjt
               .LLLDLfjfEWfL
              ;ffLDLLfLGLLjG
              :LDLiLLffLfjiGt
              fGLG#jfDfGDGtLG
             LfGL##tLLGGGLfLLj
             WfLW###jLGDEE t:WW K#E
            L#KWW##WjLDDGL  tWKEWW
            D#WWW## ifffWL,   #WW
            EWWWW## GDGLjjD   Wj
            WW WW##EWfLL#DW
            #W WW## tW####i
            W# WW##,iGW###G
            ## WW# ;tGG#WDL
           D# jW##:tjGDEDDDj
           #W WW#WjLDDWGDDGt
            ; W## jGGG#LEEGt
             DW##:GGDG#LEDGD
             WW##LDDD###EDDf
            tW###LDGG###fDDW
            WW###EDE###WLELW
           WW### LGD##W##EDK
           WW###:LDW#WW#;DD;
          WWW##.fDD##WW#iDGK
          WK###GGDG##WW#tDDK
          WW###D#W###W##WKW#
         #WW###K#####W## ###
         #W### #### #  # W##
         #W ## ##   W     KW
         #  # KWW   W     K#W
         #  # E#          KWW#
            . DW          WW#WW#
              KK          fffWWW
              WD          jji,.
             DWE          .
             GWD
             W#Ki
                </pre>
<div class="bubble"></div>
<form action="#" method="get">
    <input type="text" class="message" name="message" value=""/>
    <input type="submit" value="Change" />
</form>