<pre data-name="Mr. Terrific">
                                 :.     .:
                             : ##D      ,##G
                           .##              .#,:
                         .jW                   #
                        :#                      .E
                       :#                         #
                       #                           G
                                                   f
                      #                             #
                     :K                             K:
                      .

                     :L
                      #                             .
                      :                             #.
                      ,#                            t
                        #                          #,
                         #                        #
                          #                      #
                          :WL                   #:
                            ,                G#
                           :#    ##;     j##,
                           f   #.,:.      ,
                           D #:,
                         :## ,
                         G
              ;G   i.
             DGKK  t
             DKWW  f;
             D#K  tKt
             G,,, t;f
            ,G;D    L,
            EGWD    ;::
        LLGGGGDGLLL.:;:D
       GfGDLLKGGKGGLGfWG
      fLEDEGLGGDGLLDKWLLf
     LLLEEGLLLLGGGLEKKDDD
    DLLLDDDGGLLLGGDKDDWEE
    LLDGDWDWEGLEDGK iWW.
   LEEK  WKGfL:::GG
   EDDLK WEKKL:.:;G
    WWEDE KEEL::::K
     WWW.i,WWWELDLE
      i.:j:WWWEGDLE
      t:;tiWWKKGDfG
      i   WWWKDDKGG
         jWDDEEDEGG
         WDDDEDDGGLf
         EDEGGDDGGGG
         DDDDDGDWGGG
         DDDDDDEWDGGE
         WEK#WWWKWGG
         DDDDDK#DKDD
         DKDDD.KDDDD
         DKDDK  DDDG
        .DDDD.  WDDE
        :DDD.   .DDD
        DDDD     DDW
       #DDD      DDD
       DDDE     .GDD
       DDDD      DDD
      .DDDK      KDD
       EKDL      KDD
       EDD        DD
       WDG        EDj
       ;DD        f:;
       jti         i.
        ,.         WWE
       WWL         GKWKK
       KWf#          LWW
        WWtD
         WWK
        </pre>
<div class="bubble"></div>
<form action="#" method="get">
    <input type="text" class="message" name="message" id="message" value=""/>
    <input type="submit" value="Change" />
</form>