<pre data-name="Spiderman">
                                 :.     .:
                             : ##D      ,##G
                           .##              .#,:
                         .jW                   #
                        :#                      .E
                       :#                         #
                       #                           G
                                                   f
                      #                             #
                     :K                             K:
                      .

                     :L
                      #                             .
                      :                             #.
                      ,#                            t
                        #                          #,
                         #                        #
                          #                      #
                          :WL                   #:
                            ,                G#
                           :#    ##;     j##,
                           f   #.,:.      ,
                           D #:,
                         :## ,
                         G
                    E
                 D  D D
                 ,  G G
                  E EK D
                  EEGDK
                  KDDDD
                  DDDDE
                WKEDEDEEE.
                     EEGEGE
                      DDDEDD
                       EtDEDDD.
                       fLffDEDDD
                         DDtDEEGt
                          EjtKEDGED
                           DfDEEDDDKEEEE:
                            EEGDEEDEEGGDE.
                             KLELDKEDGGGEK
                              DjDEDDEEEEEE
                    .fLLL;    WGKKWDEEEDEK,
                    GLfffLG    KKWKEDDEEEKG
                   .GLGLLLLD   fDW:EDDEEWDGD
                    DDLLLDLLD  LGW.WKEK,KDDD
                    WDLfLKGLGGjEEKWKW..WKEEEE
                    jEDGLjKGLGGKEEKDEtKEKKKEW     :it,
                     KKGGjfKGLLDKKKEEDEWKDGGK  ;LfLLGfL
                     KKEDffEEGGKKWKDEEWDLiEfDtGLfGtLDfG;
                     WKKDGLEDGGGKWWWWWWtjDfEELffGDLGDGD;
                     EKKKEEEEEDGWDLWWWDffLEEELLGGLGKEDK:
                      KWKKKEWKKELjEEDfLjfGfKKKGDLfDKEEG
                       WKWKKEWWWKDEEEGLGtGEEKEELLLGKKK;
                        KKWKKWGEKDjEDEfLDDEKKKWLLGDKKD
                          KKKKLWKEEEtLGEEDEKWWEGDDKKKD
                           WKDEWKWEGEGDDEGKKWKEEGKKEKK
                           KEDEWWKDDDELKEEKW. EWDKKKE
                           DDEEWWDDDWLEDEKK  EKDKKKK
                           EDEWWKGDDDLELEGE tKKWWWK
                           KEEKWEEEWEGKEEDEGfffKK
                            EfEWWWWKDEWEKWKDDDED
                            EDEWKKWEDEWK WKKWK:
                            EDEWWKWEE.  #KKW#
                            EEj WKKKf  WKKWW
                            .   .      KKWW
                                      jKWWK
                                      WKKK
</pre>
<div class="bubble"></div>
<form action="#" method="get">
    <input type="text" class="message" name="message" value=""/>
    <input type="submit" value="Change" />
</form>