/* reduced set of OOCSS rules */
.page{margin:0 auto;_text-align:left;}
.leftCol{float:left;_margin-right:-3px;}
.rightCol{float:right;_margin-left:-3px;}
.main{overflow: hidden;_overflow:visible;_zoom:1;}

.bd {overflow:hidden; *overflow:visible; zoom:1;}

.media{overflow:hidden;*overflow:visible;zoom:1;}
.media .left{float:left;}
.media .right{float:right;}
.media img.left, .media img.right{display: block}

.line,.lastUnit{overflow:hidden; *overflow:visible;*zoom:1;}
.unit{float:left;}
.unitRight{float:right;}
.size1of2{width:50%;}
.size1of3{width:33.33333%;}
.size2of3{width:66.66666%;}
.size1of5{width:20%;}
.lastUnit{float:none;width:auto;_position:relative;_left:-3px;_margin-right:-3px;}