/* @group Module: Teaser */
@media screen {
    .modTeaser {
        overflow: hidden;

        .promo {
            margin: 0 0.9375em;
            text-align: center;
        }

        .h3 {
            padding-top: 0;
            border-top: none;
            margin: 1.25em 0 0.416666666em 0;
        }
    }
}
/* @end */
