<div class="panelHeader">
    <h2 class="h2">Anlagevorschlag auswählen / prüfen</h2>
</div>
<div class="panelContent">
    {{ tc.module('TitleBar', 'Asp/createproposal')}}
    {{ tc.module('Table')}}
</div>




