<div class="panelHeader">
    <ul class="buttons">
        <li><a class="button dark iconOnly" href="#"><span class="icon pin"></span></a></li>
        <li><a class="button dark iconOnly" href="#"><span class="icon min"></span></a></li>
    </ul>
    <h2 class="h2">Ausgewählte Portfolios</h2>
    <div class="settings">
        <span>Jakob Testkunde: 01</span>
        <a href="#change" class="base">Ändern</a>
    </div>
</div>