<h3 class="base">Table of Contents</h3>
<ul>
    <li><a href="#registermodule" class="base">registerModule</a>
        <ul>
            <li><a href="#registerglobalmodule" class="base">Register a "global" module</a></li>
            <li><a href="#registermodulesbyhand" class="base">Register modules by hand</a></li>
        </ul>
    </li>
    <li><a href="#registermodules" class="base">registerModules</a>
        <ul>
            <li><a href="#registermodulesincontext" class="base">Register modules in a specific
                context</a></li>
        </ul>
    </li>
    <li><a href="#start" class="base">start</a>
        <ul>
            <li><a href="#startmodules" class="base">Start all registered modules</a></li>
        </ul>
    </li>
</ul>
