<div class="nav">
<h3 class="base">Table of Contents</h3>
<ul>
    <li><a href="#conventions" class="base">Conventions</a>
        <ul>
            <li><a href="#modules" class="base">Modules</a></li>
            <li><a href="#skins" class="base">Skins</a></li>
            <li><a href="#connectors" class="base">Connectors</a></li>
            <li><a href="#conclusion" class="base">Conclusion</a></li>
        </ul>
    </li>
    <li><a href="#bootstrap" class="base">Bootstrap</a>
        <ul>
            <li><a href="#basicbootstrap" class="base">Basic bootstrap</a></li>
        </ul>
    </li>
    <li><a href="#config" class="base">Config</a>
        <ul>
            <li><a href="#globalextension" class="base">Simple global extension</a></li>
            <li><a href="#bootstrapextension" class="base">Bootstrap extension</a></li>
        </ul>
    </li>
</ul>
</div>
