<div class="nav">
<h3 class="base">Table of Contents</h3>
<ul>
    <li><a href="#hooks" class="base">Module Hooks</a>
        <ul>
            <li><a href="#dependencies" class="base">dependencies</a></li>
            <li><a href="#beforebinding" class="base">beforeBinding</a></li>
            <li><a href="#onbinding" class="base">onBinding</a></li>
            <li><a href="#afterbinding" class="base">afterBinding</a></li>
        </ul>
    </li>
    <li><a href="#othermethods" class="base">Other Methods</a>
        <ul>
            <li><a href="#require" class="base">require – load some dependencies</a></li>
            <li><a href="#fire" class="base">fire - stay in touch with your connected modules</a></li>
        </ul>
    </li>
    <li><a href="#additionalinfos" class="base">Additional Infos</a>
        <ul>
            <li><a href="#inheritance" class="base">Inheritance</a></li>
            <li><a href="#moduleproperties" class="base">Module Properties</a></li>
        </ul>
    </li>
</ul>
</div>
