<div class="nav">
<h3 class="base">Table of Contents</h3>
<ul>
    <li><a href="#addmodules" class="base">addModules</a>
        <ul>
            <li><a href="#addwidgets" class="base">Add new widgets dynamically</a></li>
        </ul>
    </li>
    <li><a href="#removemodules" class="base">removeModules</a>
        <ul>
            <li><a href="#removewidgets" class="base">A widget removes itself</a></li>
            <li><a href="#stop" class="base">Overwriting the stop method</a></li>
        </ul>
    </li>
    <li><a href="#getmodulebyid" class="base">getModuleById</a>
        <ul>
            <li><a href="#statuspolling" class="base">Status polling</a></li>
        </ul>
    </li>
    <li><a href="#getconfig" class="base">getConfig</a></li>
    <li><a href="#getconfigparam" class="base">getConfigParam</a></li>
</ul>
</div>
