<div class="nav">
<h3 class="base">Table of Contents</h3>
<ul>
    <li><a href="#decoration" class="base">Decoration</a>
        <ul>
            <li><a href="#basicstructure" class="base">Basic structure of a TerrificJS Skin</a></li>
        </ul>
    </li>
</ul>
</div>
