{% extends 'TerrificCompositionBundle::base.html.twig' %}

{% block body %}
{{ tc.module('Logo') }}
<div class="center">
    <div class="rightCol size1of3">
        {{ tc.module('Toc', 'CoreDocs/connector')}}
    </div>
</div>
<div class="center hd">
    <h2 class="h2"><span>Connector</span></h2>
</div>
<div class="slope">
    <div class="slopeContent center">
        <div class="bd size2of3">
            {{ tc.module('Content', 'CoreDocs/connector')}}
        </div>
    </div>
</div>
{% endblock %}
