<form method="get" action="">
    <h2 class="h2">Edit settings</h2>
    <ul>
        <li>
            <input type="checkbox" id="autoSave" name="autoSave" />
            <label for="autoSave">Automatic Save</label>
        </li>
        <li>
            <input type="checkbox" id="autoRefresh" name="autoRefresh" checked />
            <label for="autoRefresh">Automatic refresh of Health Check and charts</label>
        </li>
        <li>
            <ul class="buttons">
                <li><span class="button primary"><input type="submit" value="Save" /></span></li>
                <li><span class="button default"><input type="reset" value="Cancel" /></span></li>
            </ul>
        </li>
    </ul>
</form>