/* @group Module: Default */
@media all {

    /* spacers */
    .modContent .rich {
        padding-left: 0.9375em;
        padding-right: 0.9375em;
    }

    .modContent .block {
        padding-top: 3.125em;
        margin: 0;
    }

    .modContent ul.dir li {
        padding-left: 0;
        background: none;
    }

    .modContent .slogan {
        display: block;
        margin: 0.8em auto; /* 12 / 15 */
        text-align: center;
        width: 600px;
        font-size: 0.9375em; /* 15 /16 */
        line-height: 1.6em; /* 24 / 15 */
    }

    .modContent .highlight { /* for code view */
        padding: 1em; /* 13 / 13 */
    }


    /* bubble content */
    .modContent .bubble .highlight {
        padding: 0 0 0.5em 0;
    }

    .modContent .bubble .h3 {
        color: #fff;
    }

    .modContent .bubble .comingsoon {
        display: block;
        text-align: center;
        padding: 2em 0 2.6em;
        text-transform: uppercase;
        color: #de002f;
    }

    .modContent .bubble .button {
        background-image: -moz-linear-gradient(center top , rgba(222, 00, 47, 1) 0%, rgba(159, 00, 34, 1) 50%, rgba(140, 00, 27, 1) 50%, rgba(100, 00, 13, 1) 100%);
    }

    .modContent .promo {
        margin: 0 0.9375em;
    }

    .modContent .nav {
        overflow: hidden;
    }

    .modContent .nav li {
        background: none;
        display: block;
        float: left;
        padding: 0 0.25em 0 0;
    }
}

/* @end */
