<img alt="" src="{{ asset('/bundles/terrificmoduleteaser/img/transform.png')}}" />
<div class="promo">
    <h4 class="h3 icon icon">Add a Skin</h4>

    <p class="base">
        Decorate Mr. Terrific with the stealth mode <a class="base" href="http://www.terrifically.org/api/skin">Skin</a>
    </p>
</div>