<ul class="nav">
    <li>Advisory</li>
</ul>
<ul class="meta">
    <li><a href="#refresh" class="icon refresh" title=""><span>Refresh</span></a></li>
    <li><a href="#help" class="icon help" title=""><span>Help</span></a></li>
    <li><a href="{{ path('composer_module_details', { 'module' : 'Form', 'template' : 'settings' } )}}" class="icon settings openModal" title=""><span>Settings</span></a></li>
</ul>
<ul class="lang">
    <li><a href="#de" title="Deutsch">DE</a></li>
    <li><a href="#fr" title="Französisch">FR</a></li>
    <li><a href="#en" title="Englisch">EN</a></li>
    <li><a href="#it" title="Italienisch">IT</a></li>
</ul>

