<a href="{{ path('home') }}" title=""><img src="{{ asset('bundles/terrificmodulecontentnavigation/images/einstein.png') }}" width="220"></a>
<div class="bubble"><span class="emphasize">Modularize your code</span> <span>Scale down your problems</span><span class="arrow"></span></div>
{{ menu | raw }}
