<ul class="buttons">
    <li><a href="#client" class="button default" title=""><span class="icon client">Jakob Testkunde</span></a></li>
    <li><a href="#strategy" class="button default" title=""><span class="icon strategy">Anlagestrategie</span></a></li>
</ul>