<ul class="buttons">
    <li><a href="#money" class="button default" title=""><span class="icon money">Neugeld</span></a></li>
    <li><a href="#portfolio" class="button default" title=""><span class="icon portfolio">Portfolios</span></a></li>
    <li><a href="#client" class="button default" title=""><span class="icon client">Jakob Testkunde</span></a></li>
    <li><a href="#strategy" class="button default" title=""><span class="icon strategy">Anlagestrategie</span></a></li>
</ul>