<div class="slope">
    <h2 class="base promo">Terrific Composer</h2>
    <span class="slogan">Compose frontends like a virtuoso</span>
    <div class="line block">
        <div class="unit size1of3">
            <img src="{{ asset('bundles/terrificmodulecontent/images/content/spaghetti.jpg')}}" width="279"/>
        </div>
        <div class="lastUnit rich">
            <p>
                To make your life easier we created the Terrific Composer. The Composer lets all the annoying stuff just
                happen and lets you focus on the interesting and cool stuff.
            </p>

            <h3>Key Features</h3>
            <ul>
                <li>Optimized for the needs of Frontend Engineers</li>
                <li>Separates backend development from your frontend, e.g. the used CMS/Framework gets interchangeable
                </li>
                <li>Automatic module, skin and page creation</li>
                <li>Separate module development environment</li>
                <li>Reuse of modules</li>
                <li>Easy and fast access to your modules and pages</li>
                <li>LESS / SASS support</li>
                <li>Extendable and adjustable to fit your project</li>
            </ul>
            <ul class="nav">
                <li><a class="button" href="/composer">Learn More</a></li>
                <li><a class="button" href="/composer/download">Download</a></li>
            </ul>
        </div>
    </div>
</div>
