
<span class="slogan">
If you prefer to build your frontend directly integrated within your CMS/Framework – instead of using the Terrific Composer – these
integrations are for you! And there are more to come…</span>
<div class="line block">
    <div class="unit size1of3">
        <div class="bubble rich">
            <h4 class="h3">Terrific Theme Framework for WordPress</h4>
            <p>A modular approach for your WordPress theme.</p>
            <ul class="nav">
                <li><a class="button" href="/wordpress">Learn More</a></li>
                <li><a class="button" href="/wordpress/download">Download</a></li>
            </ul>
            <span class="arrow"></span>
        </div>
        <img src="{{ asset('bundles/terrificmodulecontent/images/integrations/wordpress.png')}}"
             width="80"/>
    </div>
    <div class="unit size1of3">
        <div class="bubble rich">
            <span class="comingsoon h3">Coming Soon</span>
            <span class="arrow"></span>
        </div>
        <img src="{{ asset('bundles/terrificmodulecontent/images/integrations/symfony.png')}}"
             width="80"/>
    </div>
    <div class="unit lastUnit comingsoon">
        <div class="bubble rich">
            <span class="comingsoon h3">Coming Soon</span>
            <span class="arrow"></span>
        </div>
        <img src="{{ asset('bundles/terrificmodulecontent/images/integrations/codeigniter.png')}}"
             width="80"/>
    </div>
</div>


