/* @group Module: ContentNavigation */
@media all {

    .modContentNavigation {
        overflow: hidden;
    }

    .modContentNavigation .bubble {
        background: #de002f;
        color: #fff;
        font-family: 'Quicksand', Helvetica, sans-serif;
        font-size: 1.875em;
        line-height: 1em;
        text-transform: uppercase;
        width: 8.8em;
        float: left;
    }

    .modContentNavigation a {
        display: block;
        float: left;
        padding-top: 2.5em;
    }
    
    .modContentNavigation .bubble .arrow {
        border-left-color: #de002f;
    }

    .modContentNavigation .emphasize {
        font-weight: bold;
    }
}

/* @end */
