/* @group Module: Default */
@media all {

}

@media print {

}

@media screen {
    .modSocial {
        overflow: hidden;
        margin-top: 1.6em;
        text-align: center;
    }

    .modSocial ul {
        display: inline-block;
        background: url('/bundles/terrificmodulesocial/images/social_links_bg.png') no-repeat scroll center top transparent;
        height: 41px;
        margin-bottom: 8px;
        margin-right: 6px;
        padding: 0;
        position: relative;
        width: auto;
    }

    .modSocial ul:before, .modSocial ul:after {
        background: url('/bundles/terrificmodulesocial/images/social_links_bg.png') no-repeat scroll left top transparent;
        content: " ";
        display: block;
        height: 41px;
        left: -7px;
        position: absolute;
        top: 0;
        width: 7px;
    }

    .modSocial ul:after {
        background-position: right top;
        left: auto;
        right: -7px;
    }

    .modSocial ul li {
        display: inline-block;
        margin-right: 10px;
        padding-top: 6px;
        position: relative;
    }

    .modSocial ul li:after {
        background-color: rgba(0, 0, 0, 0.1);
        content: " ";
        display: block;
        height: 16px;
        position: absolute;
        right: -10px;
        top: 8px;
        width: 1px;
    }

    .modSocial ul li.twitter {
        width: 96px;
    }

    .modSocial ul li.facebook {
        left: 5px;
        margin-right: 10px;
        top: -4px;
        width: 82px;
    }

    .modSocial ul li.facebook:after {
        background: none;
    }
}

/* @end */
